.intro{
    background-image: url('https://img.freepik.com/premium-vector/hand-drawn-coquette-background_23-2151671274.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
